.wrapper__status {
  border-bottom: pxToRem(1) solid $alto-ess;

  .boder-item {
    border: pxToRem(1) solid $alto-ess;
    border-bottom: 0;
    padding: pxToRem(10);
    text-align: center;

    &.title {
      background-color: $dove-gray;
      color: $white;
      font-weight: bold;
    }
  }
}

.table-status {
  .table {

    tr th,
    tr td {
      width: pxToRem(90);
      min-width: pxToRem(90) !important;
      max-width: pxToRem(90);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    @include breakpoint(sm992) {

      tr th,
      tr td {
        width: 85px;
        min-width: 85px !important;
        max-width: 85px;
      }
    }
  }
}
