.custom-radio {
  display: block;
  position: relative;
  padding-left: pxToRem(28);
  margin-bottom: pxToRem(0);
  cursor: pointer;
  line-height: 1.8;
  font-size: pxToRem(22);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    height: pxToRem(18);
    width: pxToRem(18);

    background-color: $alto-ess;
    border-radius: 50%;
    transform: translateY(-50%);

    &:after {
      content: '';
      position: absolute;
      display: none;
      top: 50%;
      left: 50%;

      width: pxToRem(8);
      height: pxToRem(8);
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background: $white;
    }
  }

  .label {
    font-size: pxToRem(16);
  }

  &:hover input~.checkmark {
    background-color: $hummer;
  }

  input:checked~.checkmark {
    background-color: $blue;
  }

  input:checked~.checkmark:after {
    display: block;
  }
}
