.input {
  outline: none;
  width: 100%;
  border: 1px solid $input-default-border;
  padding: pxToRem(6) pxToRem(15);
  font-size: pxToRem(16);
  border-radius: pxToRem(100);
  box-sizing: border-box;
  font-family: inherit;
  box-shadow: none;
  margin-left: pxToRem(10);

  // Fix inner shadow of Input on Safari
  background-image: -webkit-gradient(linear,
      0% 0%,
      0% 100%,
      from(transparent),
      to(transparent));
  background-image: -webkit-linear-gradient(transparent, transparent);

  &::-webkit-input-placeholder {
    @extend %input-placeholder;
  }

  &::placeholder {
    @extend %input-placeholder;
  }

  &:disabled {
    background-color: $bg-disabled;
    -webkit-text-fill-color: inherit;
    opacity: 1;
  }

  &:focus {
    color: $input-color-default;
    background-color: #fff;
    border-color: $blue-darker;
    outline: 0;
    box-shadow: 0 0 0 0.2rem $wistful;
  }

  &__wrapper {
    display: flex;
    align-items: center;

    .error-msg {
      margin-top: pxToRem(10);
      margin-bottom: pxToRem(10);
      text-align: left;
    }
  }

  &__icon {
    .icon {
      font-size: pxToRem(20);
    }
  }

  &__icon-wrapper {
    border-radius: 100%;
    width: 100%;
    height: pxToRem(40);
  }

  &__box {
    border: none;
    margin-left: pxToRem(30);
    border-radius: pxToRem(100);
    height: pxToRem(40);
    display: flex;
    width: 100%;

    svg {
      font-size: pxToRem(40);
    }
  }

  &__label {
    font-family: $Noto-Sans-Font;
    font-size: pxToRem($font-size-base);
    color: $steal-transparent;
  }

  &.font-23 {
    font-size: pxToRem(23);
  }
}

input::-webkit-input-placeholder {
  color: rgb(201, 201, 201) !important;
}

input:-moz-placeholder {
  color: rgb(201, 201, 201) !important;
}

input::-moz-p {
  color: rgb(201, 201, 201) !important;
}

input:-ms-input-placeholder {
  color: rgb(201, 201, 201) !important;
}
