.wrapper-pagination {
  @include breakpoint(sm992) {
    width: 100% !important;
    margin-left: 0;
  }
}
.pagination {
  justify-content: flex-end;
  padding-right: pxToRem(19);
  margin-top: pxToRem(16);
  justify-content: center;
  .page-item {
    cursor: pointer;
  }
}

.store-management {
  // height: 100vh;
  border: pxToRem(1) solid $gray-light;
}
