.input__box {
  text-align: left;

  .css-2b097c-container {
    display: block;
    width: 100%;
  }
}

.react-datepicker__header__dropdown {
  display: flex;
  justify-content: center;
}

.react-datepicker__month-select {
  padding: pxToRem(5);
}

.react-datepicker__year-select {
  padding: pxToRem(5);
}

@include breakpoint(lg1024) {
  body .css-1n7v3ny-option {
    background-color: transparent;
  }
}

.customer-select {
  line-height: pxToRem(30);

  .error-msg {
    margin-top: pxToRem(5);
    margin-bottom: pxToRem(5);
    line-height: pxToRem(16);
  }
}

.customer-select {
  .css-1uccc91-singleValue {
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    line-height: pxToRem(30);
    padding-right: pxToRem(10);
  }
}
