.wrapper__header {
  background-color: $white;
  padding: pxToRem(18) pxToRem(15);
  border: pxToRem(1) solid $gray-light;
  ul {
    margin-bottom: 0;

    li {
      a {
        color: $textBody;
        text-decoration: none;
      }

      .btn-sm {
        width: auto;
        padding: 0 pxToRem(20);
        line-height: pxToRem(30);
        height: auto;
      }
    }
  }

  @include breakpoint(lg1280) {
    padding: pxToRem(10) pxToRem(15);
  }

  @include breakpoint(sm360) {
    ul li {
      a {
        font-size: pxToRem(14);
      }

      .btn-sm {
        font-size: pxToRem(13);
        line-height: pxToRem(28);
        padding: 0px pxToRem(10);
      }
    }
  }
}
